body{
  background-color: #d7d7d5;
  position: auto;
}

.div {
  display: flex;
  width: 100%;
  max-width: 1045px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 990px) {
  .div {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.div-2 {
  display: flex;
  gap: 0px;
}

.img {
  aspect-ratio: 0.7;
  object-fit: contain;
  object-position: center;
  width: 80px;
  overflow: hidden;
  max-width: 100%;
}

.div-3 {
  color: #33a198;
  align-self: end;
  margin-top: 60px;
  flex-grow: 100;
  white-space: nowrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
}


@media (max-width: 991px) {
  .div-3 {
    margin-top: 40px;
    white-space: initial;
  }
}

.div-4 {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
  }
}

.div-5 {
  display: flex;
  width: 354px;
  max-width: 100%;
  gap: 0px;
}


.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 28px;
  overflow: hidden;
}

.div-8 {
  align-self: stretch;
  display: flex;
  margin-top: 51px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 999px) {
  .div-8 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-9, 
.div-13,
.div-10,
.div-11,
.div-12 {
  color: rgba(0, 0, 0, 0.51);
  margin-bottom: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  
}

.container {
  position: relative;
  --size-button: 50px;
  color: white;
  left: 30%;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 12px;

  font-weight: bold;
  border: none;
  color: #ffffff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #121010;
  box-shadow: 1.5px 1.5px 3px #000000, -1.5px -1.5px 3px rgb(95 94 94 / 200%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
  
}

.container .icon svg {
  width: 65%;
  height: 75%;
}

 
 

 

 
  .category-images {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    width: 1%;
    height: 32px;
    position: relative;
    left: 35%;
  }

  #slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    left: 14%;
    
    
  }

  .slide {
    display: flex;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



  #prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    
    
  }

  #prev {
    left: 10px;

  }

  #next {
    right: 10px;
  }

  .box1{
    width: 270px;
    height: 220px;
    margin-right: 5%;
    

  }
  .box2{
    width: 270px;
    height: 200px;
    margin: auto;

  }
  .box3{
    width: 270px;
    height: 200px;
    margin-left: 5%;

  }

  .text1{
    text-align: center;
  }


 
 